<footer class="main-footer">
  <a href="http://github.com/richardjboothe" target="_blank"><img src="img/github2.png" alt="Github Logo" class="social-icon" ></a>
  <a href="http://twitter.com/richardjboothe" target="_blank"><img src="img/twitter2.png" alt="Twitter Logo" class="social-icon" ></a>
  <a href="http://linkedin.com/richardjboothe" target="_blank"><img src="img/linkedin.png" alt="LinkedIn Logo" class="social-icon" ></a>
  <a href="http://facebook.com/richardjboothe" target="_blank"><img src="img/facebook2.png" alt="Facebook Logo" class="social-icon" ></a>
  <p>&copy; 2016 Richard Boothe</p>
</footer>
