<!-- Hi! Thanks for checking out my site, if you have questions about something you can contact me at richardjboothe@me.com. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Richard Boothe | Developer</title>
    <link rel="icon" href="/img/favicon.png" sizes="16x16" >
    <link rel="stylesheet" href="/style/normalize.min.css" />
    <link rel="stylesheet" href="/style/main.min.css" />
    <meta name="description" content="Richard Boothe's Personal Site">
    <meta name="author" content="Richard Boothe">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>   </head>
  <body> 
    <header>
      <div id="logo">
        <a href="/">
          <h1 id="headerName">RICHARD BOOTHE</h1>
          <h4 id="headerOccupation">DEVELOPER | DESIGNER</h4>
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/toy-problems" class="navbarOption">TOY PROBLEMS</a></li>
          <li><a href="/blog" class="navbarOption">BLOG</a></li>
          <li><a href="/portfolio" class="navbarOption">PORTFOLIO</a></li>
          <li><a href="/resume" class="navbarOption" target="_blank">RESUME</a></li> 
        </ul>
      </nav>
    </header>    {<div id="wrapper">
  <h1 class = "contentHeader">500 - Server Error</h1>
</div>}
    <footer class="main-footer">
      <a href="http://www.github.com/richardjboothe" target="_blank"><img src="/img/github.png" alt="Github Logo" class="social-icon" ></a>
      <a href="http://www.twitter.com/richardjboothe" target="_blank"><img src="/img/twitter.png" alt="Twitter Logo" class="social-icon" ></a>
      <a href="http://www.linkedin.com/in/richardjboothe" target="_blank"><img src="/img/linkedin.png" alt="LinkedIn Logo" class="social-icon" ></a>
      <a href="http://www.facebook.com/richardjboothe" target="_blank"><img src="/img/facebook2.png" alt="Facebook Logo" class="social-icon" ></a>
      <p class="copywrite">&copy; 2016 Richard Boothe</p>
    </footer>
    
  </body>
</html>
