<div id="postMainContainer">
  <h1 class="postHeader">Blog</h1>
  {{#each posts}}  
      <div class="postContainer">
        <div class="postPhoto"></div>
          <a href="blog/{{id}}"> 
            <div class="postInnerContainer">
              <h3 class="postTitle">{{title}}</h3>
              <p class="postDescription">{{description}}</p>
            </div>
          </a>
      </div>
  {{/each}}
</div>

