<div id="wrapper">
  <section>
    <ul id="options">
        <li>
          <a href="/toy-problems">
            <p class="image-title">Toy Problems</p>
            <img class="home_image" src="/img/toyProblems.jpg" alt="toy problems" />
          </a>  
        </li>
        <li>
          <a href="/blog">
            <p class="image-title">Blog</p>
            <img class="home_image" src="/img/blog.jpg" alt="blog" />
          </a>
        </li>  
        <li>
          <a href="/portfolio">
            <p class="image-title">Portfolio</p>
            <img class="home_image" src="/img/portfolio.jpg" alt="portfolio" />
          </a>  
        </li>
    </ul>
  </section>
</div>