<div id="wrapper">
  <section>
    <ul id="options">
        <li>
          <a class='home_image_wrapper' href="/toy-problems">
            <p class="image_title">Toy Problems</p>
            <div class="foto_frame">
              <div class="foto_text hide">
                <p>Here you can check out my approach to solving toy problems ranging from the most basic to company challenges!</p>
              </div>
              <img class="home_image" src="/img/toyProblems.jpg" alt="toy problems" />
            </div>
          </a>  
        </li>
        <li>
          <a class='home_image_wrapper' href="/blog">
            <p class="image_title">Blog</p>
            <div class="foto_frame">
              <div class="foto_text hide">
                <p>Here you can find some thoughts I have about programming, web development, life as a developer and more!</p>
              </div>
              <img class="home_image" src="/img/blog.jpg" alt="blog" />
            </div>
          </a>
        </li>  
        <li>
          <a class='home_image_wrapper' href="/portfolio">
            <p class="image_title">Portfolio</p>
            <div class="foto_frame">
              <div class="foto_text hide">
                <p>Here you can find a few of the projects I've worked on with descriptions of the tech used on each!</p>
              </div>
              <img class="home_image" src="/img/portfolio.jpg" alt="portfolio" />
            </div>
          </a>  
        </li>
    </ul>
  </section>
</div>


