<!-- Hi there curious web surfer! Thank you for checking out my site, if you have questions about something related to the structure of this site you can contact me at richardjboothe@me.com. In addition, you can find some of the code related to this site at https://github.com/richardjboothe/InterloperSite -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Richard Boothe | Developer</title>
    <link rel="icon" href="/img/favicon.png" sizes="16x16" >
    <link rel="stylesheet" href="/style/normalize.min.css" />
    <link rel="stylesheet" href="/style/main.min.css" />
    <meta name="description" content="Richard Boothe's Personal Site">
    <meta name="author" content="Richard Boothe">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script> 
    <script type="text/javascript" src="/src/app.js"></script>
    
    
  </head>
  <body> 
    <header>
      <div id="logo">
        <a href="/">
          <h1 id="headerName">RICHARD BOOTHE</h1>
          <h4 id="headerOccupation">DEVELOPER | DESIGNER</h4>
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/toy-problems" class="navbarOption">TOY PROBLEMS</a></li>
          <li><a href="/blog" class="navbarOption">BLOG</a></li>
          <li><a href="/portfolio" class="navbarOption">PORTFOLIO</a></li>
          <li><a href="/about" class="navbarOption">ABOUT</a></li> 
        </ul>
      </nav>
    </header>    {<div id="wrapper">
  <section>
    <ul id="options">
        <li>
          <a class='home_image_wrapper' href="/toy-problems">
            <p class="image_title">Toy Problems</p>
            <div class="foto_frame">
              <div class="foto_text hide">
                <p>Here you can check out my approach to solving toy problems ranging from the most basic to company challenges!</p>
              </div>
              <img class="home_image" src="/img/toyProblems.jpg" alt="toy problems" />
            </div>
          </a>  
        </li>
        <li>
          <a class='home_image_wrapper' href="/blog">
            <p class="image_title">Blog</p>
            <div class="foto_frame">
              <div class="foto_text hide">
                <p>Here you can find some thoughts I have about programming, web development, life as a developer and more!</p>
              </div>
              <img class="home_image" src="/img/blog.jpg" alt="blog" />
            </div>
          </a>
        </li>  
        <li>
          <a class='home_image_wrapper' href="/portfolio">
            <p class="image_title">Portfolio</p>
            <div class="foto_frame">
              <div class="foto_text hide">
                <p>Here you can find a few of the projects I've worked on with descriptions of the tech used on each!</p>
              </div>
              <img class="home_image" src="/img/portfolio.jpg" alt="portfolio" />
            </div>
          </a>  
        </li>
    </ul>
  </section>
</div>


}
    <footer class="main-footer">
      <a href="http://www.github.com/richardjboothe" target="_blank"><img src="/img/github.png" alt="Github Logo" class="social-icon" ></a>
      <a href="http://www.twitter.com/richardjboothe" target="_blank"><img src="/img/twitter.png" alt="Twitter Logo" class="social-icon" ></a>
      <a href="http://www.linkedin.com/in/richardjboothe" target="_blank"><img src="/img/linkedin.png" alt="LinkedIn Logo" class="social-icon" ></a>
      <a href="http://www.facebook.com/richardjboothe" target="_blank"><img src="/img/facebook2.png" alt="Facebook Logo" class="social-icon" ></a>
      <p class="copywrite">&copy; 2016 Richard Boothe</p>
    </footer>
    
  </body>
</html>



