<div id="wrapper">
  <section>
    <ul id="options">
        <li>
          <a href="/toy-problems">
            <p class="image_title">Toy Problems</p>
            <div class="foto_frame">
              <div class="foto_text hide">
                Test1
              </div>
              <img class="home_image" src="/img/toyProblems.jpg" alt="toy problems" />
            </div>
          </a>  
        </li>
        <li>
          <a href="/blog">
            <p class="image_title">Blog</p>
            <div class="foto_frame">
              <div class="foto_text hide">
                Test2
              </div>
              <img class="home_image" src="/img/blog.jpg" alt="blog" />
            </div>
          </a>
        </li>  
        <li>
          <a href="/portfolio">
            <p class="image_title">Portfolio</p>
            <div class="foto_frame">
              <div class="foto_text hide">
                Test3
              </div>
              <img class="home_image" src="/img/portfolio.jpg" alt="portfolio" />
            </div>
          </a>  
        </li>
    </ul>
  </section>
</div>