<div id="portfolioMainContainer">
  <h1 class="portfolioHeader">Blog</h1>
  {{#each projects}}  
      <div class="projectContainer">
        <div class="projectPhoto"></div>
          <div class="projectInnerContainer">  
            <h3 class="projectTitle">{{title}}</h3>
            <p class="projectDescription">{{description}}</p>
          </div>
      </div>
  {{/each}}
</div>