<div id="postMainContainer">
  <h1 class="postHeader">{{post.title}}</h1>
  <div class="postContainer">
     <div class="postPhoto"></div>
      <div class="postInnerContainer">
        <p class="postDescription">{{post.description}}</p>
      </div>
  </div>
</div>
