<!-- Hi there curious web surfer! Thank you for checking out my site, if you have questions about something related to the structure of this site you can contact me at richardjboothe@me.com. In addition, you can find some of the code related to this site at https://github.com/richardjboothe/InterloperSite -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body> 
    {{>nav}}
    {{{body}}}
    {{>footer}}
  </body>
</html>



