<!-- Hi! Thanks for checking out my code, if you have questions about something you can contact me at richardjboothe@me.com. Happy coding! -->
<!DOCTYPE html>
<html>
  <head>
    <title>Richard Boothe | Developer</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="./style/normalize.css" />
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./style/main.css" />
    <link rel="stylesheet" href="./style/responsive.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="lib/jquery-3.0.0.min.js"></script>
  </head>
  <body> 
  {{{_sections.head}}}

    <header>
      <a href="/" id="logo">
        <h1>RICHARD BOOTHE</h1>
        <h4>DEVELOPER</h4>
      </a>
      <nav>
        <ul>
          <li><a href="/" class="navbarOption">Home</a></li>
          <li><a href="/toyProblems" class="navbarOption">Toy Problems</a></li>
          <li><a href="/blog" class="navbarOption">Blog</a></li>
          <li><a href="/portfolio" class="navbarOption">Portfolio</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    {{{_sections.jquery}}}
    <footer class="main-footer">
      <a href="http://twitter.com/richardjboothe" target="_blank"><img src="img/twitter2.png" alt="Twitter Logo" class="social-icon" ></a>
      <a href="http://github.com/richardjboothe" target="_blank"><img src="img/github2.png" alt="Github Logo" class="social-icon" ></a>
      <a href="http://facebook.com/richardjboothe" target="_blank"><img src="img/facebook2.png" alt="Facebook Logo" class="social-icon" ></a>
      <p>&copy; 2016 Richard Boothe</p>
    </footer>
  </body>
</html>