<!-- Hi! Thanks for checking out my site, if you have questions about something you can contact me at richardjboothe@me.com. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body> 
    {{>nav}}
    {{{body}}}
    {{>footer}}
  </body>
</html>
